/* Projects */
.gallery-thumbnail {
    cursor: pointer;
    width: 120px;
    height: 100px;
}

.gallery-thumbnail:hover {

    opacity: 0.8;
    
}

.display-pic-fixed {
    width: 200px;
    height: 400px;
}

